[Unit]
Description=Run {{container_name}}
{%- for unit in dependencies %}
After={{unit}}
Requires={{unit}}
{%- endfor %}
PartOf={{target_file}}


[Service]
{%- if oneshot %}
Type=oneshot
{% else %}
Type=simple
Restart=always
RestartSec=60s
{%- endif %}

ExecStartPre=-/usr/bin/docker kill {{container_name}}
ExecStartPre=-/usr/bin/docker rm {{container_name}}
ExecStart=/usr/bin/docker run --name "{{container_name}}" \
        --label "com.docker.compose.project={{project}}" --label "com.docker.compose.service={{service}}" \
        --label "com.docker.compose.container-number=1" --label "com.docker.compose.oneoff=False" \
        --label "com.docker.compose.config-hash=x" --label "com.docker.compose.version=1.3.1" \
        {% for arg in args %}{{arg}} {% endfor %} \
        {{image}}
ExecStop=/usr/bin/docker stop {{container_name}}
ExecStopPost=-/usr/bin/docker rm {{container_name}}

[Install]
WantedBy={{target_file}}
